<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="/welcome" href="javascript:void(0);">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Angular首页</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="仪表盘" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let item of menulist">
            <a routerLink="{{ item.path }}">{{ item.name }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="绘图" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter (click)="showcanvas()">
            <a routerLink="./canvas">幕布</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></i>
        </span>
        <nz-breadcrumb
          [nzAutoGenerate]="true"
          class="disabled"
          (click)="breadcrumbclick()"
        >
        </nz-breadcrumb>
        <div>
          <nz-avatar nzIcon="user" [nzSrc]="userinfo.url"></nz-avatar>
          <a style="padding-left: 15px" nz-dropdown [nzDropdownMenu]="menu">
            {{ userinfo.username }}
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item><a (click)="logout()">退出登录</a></li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
