<app-button
  #chakan
  nz-button
  nzType="primary"
  ButtonDescripe="查看"
  (ButtonEvent)="showModal('查看')"
>
  查看
</app-button>

<app-button
  nz-button
  nzType="primary"
  ButtonDescripe="修改"
  (ButtonEvent)="showModal('修改')"
>
  修改
</app-button>

<app-button
  nz-button
  nzType="primary"
  ButtonDescripe="局部变量传值"
  (ButtonEvent)="modal.passvalue()"
>
  局部变量传值
</app-button>
<app-modal
  (modalhandleCancel)="fatherhandleCancel($event)"
  (modalhandleOk)="fatherhandleOk($event)"
  [modalisVisible]="modalisVisible"
  [getsetcontent]="getsetcontent"
  [descripe]="descripe"
  #modal
>
</app-modal>

<a href="/canvas" (click)="jump()">跳到幕布</a>
