.loginbackground {
  width: 100%;
  height: 100%;
  background-image: url("../../assets//img/bacg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .loginblock {
    width: 300px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 40px 20px;
    .myclass {
      background-color: red;
    }
    .myclass2 {
      background-color: green;
    }
    .login-form {
      max-width: 300px;
    }

    .login-form-margin {
      margin-top: 35px;
    }

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
    }
  }
}
.myclass2 {
  background-color: green;
}
.button {
  display: block;
}
