<div class="loginbackground">
  <div class="loginblock">
    <div
      style="width: 100%; height: 100px"
      class="myclass"
      [ngClass]="getmyclass()"
    >
      {{ userinfo.username }}
    </div>
    <input
      id="name"
      [(ngModel)]="userinfo.username"
      placeholder="id"
      #username
    />
    <input
      id="name"
      [(ngModel)]="userinfo.password"
      placeholder="name"
      #password
    />
    <button
      (click)="onSave(username.value, password.value)"
      class="button"
      [ngClass]="{ myclass: true, myclass2: false }"
      nzType="primary"
    >
      进入表单
    </button>
    <a routerLink="/welcome">
      <button
        class="button"
        [ngClass]="{ myclass: true, myclass2: false }"
        nzType="primary"
      >
        进入
      </button></a
    >
  </div>
</div>
