<app-button
  nz-button
  nzType="primary"
  ButtonDescripe="查看"
  (ButtonEvent)="showModal('查看')"
>
</app-button>

<app-button
  nz-button
  nzType="primary"
  ButtonDescripe="修改"
  (ButtonEvent)="showModal('修改')"
>
</app-button>

<app-button
  nz-button
  nzType="primary"
  ButtonDescripe="局部变量传值"
  (ButtonEvent)="modal.passvalue()"
>
</app-button>
<app-modal
  (modalhandleCancel)="fatherhandleCancel($event)"
  (modalhandleOk)="fatherhandleOk($event)"
  [modalisVisible]="modalisVisible"
  [descripe]="descripe"
  #modal
>
</app-modal>
