<ul>
  <li>动态Style,Class</li>
  <li style="margin: 30px">style="margin: 30px;"</li>
  <li [style]="{ margin: 8 + 'px' }">style[]</li>
  <li [style]="styleset">component-overview works!</li>
  <li style="{{ styleset2 }}">component-overview works!</li>
  <li [style]="myStyle">myStyle</li>
  <li class="firstclass">firstclass</li>
  <li [class]="secondclass">secondclass</li>
  <li [class.thirdclass]="true">thirdclass</li>
  <li [class]="['a-class', 'b-class']">thirdclass</li>
  <li [class]="{ 'a-class': true, 'b-class': false }">thirdclass</li>
  <li [ngClass]="ngClassshow(1)">secondclass</li>
  <li [ngClass]="ngClassshow(2)">secondclass</li>
  <li [ngClass]="ngClassshow(3)">secondclass</li>
  <div>Current Count: {{ count$ | async }}</div>
</ul>

<ul>
  <li *ngFor="let item of list; let i = index">{{ i }} -{{ item }}</li>
</ul>
<div [ngSwitch]="'2'">
  <div *ngSwitchCase="'1'">ngswitch 1</div>
  <div *ngSwitchCase="'2'">ngswitch 2</div>
  <div *ngSwitchCase="'3'">ngswitch 3</div>
  <div *ngSwitchDefault>ngswitch default</div>
</div>

<button (click)="DecrementCount()">改变State count数据</button>
<button (click)="ResetCount()">改变State count数据</button>
